.header{
  .nav-position{
    padding-top: 65px;
  }
  a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  .fas{
    width: 23px;
    height: 23px;
    color: #ffffff;
  }
}